<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wikipets">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActividadesEstructural">
        <activity android:name=".GUIGrafica"></activity>
        <activity android:name=".GUIDetalles" />
        <activity android:name=".GUIListar" />
        <activity android:name=".GUIBuscar" />
        <activity android:name=".GUIEditar" />
        <activity android:name=".GUIEliminar" />
        <activity android:name=".GUIAdicionar" />
        <activity android:name=".GUIMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>